{
  "singleQuote": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": false,
  "bracketSameLine": true,
  "printWidth": 120,
  "bracketSpacing": true,
  "htmlWhitespaceSensitivity": "ignore",
  "arrowParens": "avoid",
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "html",
        "printWidth": 120,
        "tabWidth": 2
      }
    },
    {
      "files": "*.js",
      "options": {
        "parser": "babel",
        "tabWidth": 2,
        "trailingComma": "all",
        "arrowParens": "avoid",
        "bracketSpacing": true,
        "semi": false
      }
    }
  ]
}