<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Invoicing</title>
    <link rel="stylesheet" href="/css/output.css" />
    <script src="https://unpkg.com/htmx.org@2.0.3"></script>
    <script src="/public/alpinejs/plugins/morph.js"></script>
  </head>

  <body>
    <div x-cloak x-data="tabManager" x-init="init()" class="flex h-screen">
      <!-- MARK: SIDEBAR -->
      <!-- Palette below -->
      <!-- https://coolors.co/visualizer/2d2d3b-5c757f-fe5f55-e8f0ff-f8e9e9 -->
      <div
        class="flex flex-col items-center w-56 h-screen p-4 transition duration-300 bg-vdark-600 dark:bg-zinc-900"
        x-ref="mainSidebar">
        <!-- MARK: CLIENTS -->
        <button
          @click="tabButtonClicked('clients')"
          :class="{ 'tab-button-active': tabContentActive('clients') }"
          class="tab-button">
          <span hx-get="/public/images/users.svg" hx-trigger="load" class="mr-1.5"></span>
          <span>Clients</span>
        </button>
        <!-- MARK: STYLES -->
        <button
          @click="tabButtonClicked('styles')"
          :class="{ 'tab-button-active': tabContentActive('styles') }"
          class="tab-button">
          <span hx-get="/public/images/package.svg" hx-trigger="load" class="mr-1.5"></span>
          Items
        </button>
        <!-- MARK: INVOICES -->
        <button
          @click="tabButtonClicked('invoices')"
          :class="{ 'tab-button-active': tabContentActive('invoices') }"
          class="tab-button">
          <span hx-get="/public/images/file-text.svg" hx-trigger="load" class="mr-1.5"></span>

          Invoices
        </button>
        <!-- MARK: EDITOR -->
        <button
          @click="tabButtonClicked('editor')"
          :class="{ 'tab-button-active': tabContentActive('editor') }"
          class="tab-button">
          <span hx-get="/public/images/edit.svg" hx-trigger="load" class="mr-1.5"></span>
          Editor
        </button>
        <!-- MARK: DARK THEME -->
        <div
          hx-target="this"
          hx-trigger="load"
          hx-ext="alpine-morph"
          hx-swap="morph"
          hx-get="/htmx-alpine-components/darkMode.html"></div>
      </div>
      <!--MARK:SIDEBAR BUTTON + EFFECT-->
      <div class="flex flex-col w-full p-5 overflow-auto bg-vpalered-300 will-change-auto dark:bg-zinc-800">
        <div
          x-ref="tabContentContainer"
          x-show="!isLoading"
          x-transition:enter="transition ease-in duration-200 transform"
          x-transition:enter-start="opacity-0 translate-y-40"
          x-transition:enter-end="opacity-100 translate-y-0"
          x-transition:leave="transition ease-out duration-100 transform"
          x-transition:leave-start="opacity-100 translate-y-0"
          x-transition:leave-end="opacity-0 translate-y-20"
          class="w-full">
          <!-- Using htmx.process($el) to enable htmx detection on injected elements-->
          <div x-html="tabContent"></div>
        </div>
      </div>

      <!-- MARK: TOASTS HTMX -->
      <div
        hx-target="this"
        hx-ext="alpine-morph"
        hx-swap="morph"
        hx-trigger="load"
        hx-get="/htmx-alpine-components/toast.html"></div>
    </div>

    <!--  MARK: TOASTS END  -->
    <script src="/componentsLibrary/vik-tooltip.js" defer></script>
    <script type="module" src="./app.js" defer></script>
    <!--  Alpine Plugins  -->
    <script src="/public/alpinejs/plugins/alpine-morph.js" defer></script>
    <script src="./alpinejs/plugins/anchor.js" defer></script>
    <script src="./alpinejs/plugins/persist.js" defer></script>
    <script src="./alpinejs/plugins/collapse.js" defer></script>
    <!--  Alpine Core  -->
    <script src="./alpinejs/dist/cdn.min.js" defer></script>
  </body>
</html>
