<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Invoicing</title>
    <link rel="stylesheet" href="/css/output.css" />
    <script src="https://unpkg.com/htmx.org@2.0.3"></script>
    <script src="/public/alpinejs/plugins/morph.js"></script>
  </head>

  <body>
    <div x-cloak x-data="tabManager" x-init="init()" class="flex h-screen">
      <!-- Palette below -->
      <!-- https://coolors.co/visualizer/2d2d3b-5c757f-fe5f55-e8f0ff-f8e9e9 -->
      <!-- MARK: SIDEBAR -->
      <div
        :class="{'w-72': sideBar, 'w-16': !sideBar}"
        class="h-screen bg-vlp p-4 transition-all duration-500 dark:bg-vdp"
        x-ref="mainSidebar"
        x-transition:enter="transition-all ease-in-out duration-500"
        x-transition:enter-start="w-16"
        x-transition:enter-end="w-72"
        x-transition:leave="transition-all ease-in-out duration-500"
        x-transition:leave-start="w-72"
        x-transition:leave-end="w-16">
        <div class="grid h-full grid-cols-1 grid-rows-3 gap-20">
          <!-- MARK:ROW-1-ContentButtons -->
          <div class="w-full flex-col items-center justify-items-center">
            <!-- CLIENTS -->
            <button
              @click="tabButtonClicked('clients')"
              :class="{ 'tab-button-active': tabContentActive('clients') }"
              class="tab-button">
              <div x-show="sideBar" class="flex items-center">
                <div class="mr-1.5" x-html="$store.svgCache.getSvgContent('users.svg')"></div>
                <span>Clients</span>
              </div>
              <div x-show="!sideBar">
                <div title="Clients" x-html="$store.svgCache.getSvgContent('users-copy.svg')"></div>
              </div>
            </button>
            <!-- STYLES -->
            <button
              @click="tabButtonClicked('styles')"
              :class="{ 'tab-button-active': tabContentActive('styles') }"
              class="tab-button">
              <div x-show="sideBar" class="flex items-center">
                <div class="mr-1.5" x-html="$store.svgCache.getSvgContent('package.svg')"></div>
                <span>Items</span>
              </div>
              <div x-show="!sideBar">
                <div title="Items" x-html="$store.svgCache.getSvgContent('package-copy.svg')"></div>
              </div>
            </button>
            <!-- INVOICES -->
            <button
              @click="tabButtonClicked('invoices')"
              :class="{ 'tab-button-active': tabContentActive('invoices') }"
              class="tab-button">
              <div x-show="sideBar" class="flex items-center">
                <div class="mr-1.5" x-html="$store.svgCache.getSvgContent('file-text.svg')"></div>
                <span x-show="sideBar">Invoices</span>
              </div>
              <div x-show="!sideBar">
                <div title="Invoicing" x-html="$store.svgCache.getSvgContent('file-text-copy.svg')"></div>
              </div>
            </button>
            <!-- EDITOR -->
            <button
              @click="tabButtonClicked('editor')"
              :class="{ 'tab-button-active': tabContentActive('editor') }"
              class="tab-button">
              <div x-show="sideBar" class="flex items-center">
                <div class="mr-1.5" x-html="$store.svgCache.getSvgContent('edit.svg')"></div>
                <span x-show="sideBar">Editor</span>
              </div>
              <div x-show="!sideBar">
                <div title="Editor" x-html="$store.svgCache.getSvgContent('edit-copy.svg')"></div>
              </div>
            </button>
          </div>

          <!-- MARK:ROW-2-Client Select -->
          <div class="flex flex-col items-center justify-center">
            <div x-show="sideBar" class="flex flex-col items-center">
              <button class="tab-button w-full justify-center" @click="openSelectClient = !openSelectClient">
                <div class="mr-1.5" x-html="$store.svgCache.getSvgContent('refresh-ccw.svg')"></div>
                Select Client
              </button>
            </div>
            <div x-show="!sideBar" @click="openSelectClient = !openSelectClient" class="tab-button flex justify-center">
              <button title="Open Sidebar">
                <div x-html="$store.svgCache.getSvgContent('refresh-ccw-copy.svg')"></div>
              </button>
            </div>
          </div>

          <!-- MARK:ROW-3-DarkMode&Toggle -->
          <div x-show="sideBar" class="flex items-end justify-center">
            <!-- DARKMODE -->
            <div
              hx-target="this"
              hx-trigger="load"
              hx-ext="alpine-morph"
              hx-swap="morph"
              hx-get="/htmx-alpine-components/darkMode.html"></div>
            <!-- SIDEBAR EXPANDED-->
            <button
              :title="sideBar ? 'Close Sidebar' : 'Open Sidebar'"
              @click="sideBarOpen()"
              class="text-vls transition duration-300 hover:text-vla dark:text-vds dark:hover:text-vred-300">
              <div x-html="$store.svgCache.getSvgContent('sidebar.svg')"></div>
            </button>
          </div>

          <div x-show="!sideBar" class="flex flex-col items-center justify-end">
            <!-- SIDEBAR COLAPSED -->
            <button
              :title="sideBar ? 'Close Sidebar' : 'Open Sidebar'"
              @click="sideBarOpen()"
              class="mb-2 text-vls transition duration-300 hover:text-vla dark:text-vds dark:hover:text-vda">
              <div
                class="flex h-full w-full items-center justify-center"
                x-html="$store.svgCache.getSvgContent('sidebar.svg')"></div>
            </button>

            <!-- DARKMODE -->
            <div
              hx-trigger="load"
              hx-ext="alpine-morph"
              hx-swap="morph"
              hx-get="/htmx-alpine-components/darkMode.html"
              class="mb-2 flex h-full w-full items-center justify-center"></div>
          </div>
        </div>
      </div>

      <!--MARK: MAIN CONTENT + EFFECT-->
      <div class="flex w-full flex-col overflow-auto bg-vls p-6 will-change-auto dark:bg-vdp2">
        <div
          x-ref="tabContentContainer"
          x-show="!isLoading"
          x-transition:enter="transition ease-in duration-200 transform"
          x-transition:enter-start="opacity-0 translate-y-40"
          x-transition:enter-end="opacity-100 translate-y-0"
          x-transition:leave="transition ease-out duration-100 transform"
          x-transition:leave-start="opacity-100 translate-y-0"
          x-transition:leave-end="opacity-0 translate-y-20"
          class="w-full">
          <!-- Using htmx.process($el) to enable htmx detection on injected elements-->
          <div x-html="tabContent"></div>
        </div>
      </div>

      <!-- MARK: SELECT CLIENT MODAL -->
      <div hx-get="/htmx-alpine-components/selectClient.html" hx-trigger="load" x-show="selectClientModal = true"></div>

      <!-- MARK: TOASTS HTMX -->
      <div
        hx-target="this"
        hx-ext="alpine-morph"
        hx-swap="morph"
        hx-trigger="load"
        hx-get="/htmx-alpine-components/toast.html"></div>
      <!--  MARK: TOASTS END  -->
    </div>
    <script src="/componentsLibrary/vik-tooltip.js" defer></script>
    <script type="module" src="./app.js" defer></script>
    <!--  Alpine Plugins  -->
    <script src="/public/alpinejs/plugins/alpine-morph.js" defer></script>
    <script src="./alpinejs/plugins/anchor.js" defer></script>
    <script src="./alpinejs/plugins/persist.js" defer></script>
    <script src="./alpinejs/plugins/collapse.js" defer></script>
    <!--  Alpine Core  -->
    <script src="./alpinejs/dist/cdn.min.js" defer></script>
  </body>
</html>
