@tailwind base;
@tailwind components;
@tailwind utilities;
/* MARK: Fonts */
/* Extra Light weight */
@font-face {
  font-family: 'Manrope';
  src: url('../fonts/manrope/Manrope-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: light;
}
/* Light weight */
@font-face {
  font-family: 'Manrope';
  src: url('../fonts/manrope/Manrope-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: light;
}
/* Regular weight */
@font-face {
  font-family: 'Manrope';
  src: url('../fonts/manrope/Manrope-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
/* Bold weight */
@font-face {
  font-family: 'Manrope';
  src: url('../fonts/manrope/Manrope-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
/* Italic weight */
@font-face {
  font-family: 'Manrope';
  src: url('../fonts/manrope/Manrope-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
/* Bold Italic */
@font-face {
  font-family: 'Manrope';
  src: url('../fonts/manrope/Manrope-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
[x-cloak] {
  display: none !important;
}
html {
  font-size: 16px;
}
/* MARK: Status */
/* Toggle button text styling */
.status-text {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 0.75rem;
  margin-right: 0.9rem;
  margin-bottom: 1rem;
  /* Adjust size as needed */
}
.status-text.paid {
  color: green;
  /* Or any color you prefer for 'paid' status */
}
.status-text.unpaid {
  color: red;
  /* Or any color you prefer for 'unpaid' status */
}

/* MARK: Scrollbars Light */
/* Global*/
::-webkit-scrollbar {
  width: 14px; /* Adjust the width of the scrollbar */
}
::-webkit-scrollbar-track {
  background: #d6eeff;
}
::-webkit-scrollbar-thumb {
  background: #001b2e; /* The draggable scrolling handle */
  border-radius: 4px; /* Roundness of the scrollbar handle */
}
::-webkit-scrollbar-thumb:hover {
  background: #00477a; /* Hover effect */
}
/* Table */
.table-scrollbar::-webkit-scrollbar-track {
  background: #d6eeff;
  border-radius: 5px;
}
.table-scrollbar::-webkit-scrollbar-thumb {
  background: #001b2e; /* The draggable scrolling handle */
  border-radius: 5px; /* Roundness of the scrollbar handle */
}
.table-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #00477a; /* Hover effect */
}
/* Table Alternative Scrollbar Light */
.alt-table-scrollbar::-webkit-scrollbar {
  width: 14px; /* Adjust the width of the scrollbar */
}
/* Alternative Table Scroll */
.alt-table-scrollbar::-webkit-scrollbar-track {
  background: #d6eeff;
  border-radius: 4px;
}
.alt-table-scrollbar::-webkit-scrollbar-thumb {
  background: #001b2e; /* The draggable scrolling handle */
  border-radius: 4px; /* Roundness of the scrollbar handle */
}
.alt-table-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #00477a; /* Hover effect */
}

/* MARK: Scrollbars Dark */

/* Global */
.dark ::-webkit-scrollbar-track {
  background: #525252;
}
.dark ::-webkit-scrollbar-thumb {
  background: #18181b; /* Dark mode handle */
}
.dark .table-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #3f3f46; /* Hover effect dark mode */
}
/*Table */
.dark.table-scrollbar::-webkit-scrollbar {
  width: 18px; /* Adjust the width of the scrollbar */
}
.dark .table-scrollbar::-webkit-scrollbar-track {
  background: #525252;
}
.dark .table-scrollbar::-webkit-scrollbar-thumb {
  background: #18181b; /* Darker handle for dark mode */
}
.dark .table-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #3f3f46; /* Hover effect for dark mode */
}
/* Alternative Table Dark */
.dark .alt-table-scrollbar::-webkit-scrollbar-track {
  background: #525252;
}
.dark .alt-table-scrollbar::-webkit-scrollbar-thumb {
  background: #18181b; /* Darker handle for dark mode */
}
.dark .alt-table-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #3f3f46; /* Hover effect for dark mode */
}

.max-height-table {
  max-height: 700px !important;
}
/* Removing number input arrows  */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* MARK:Rotateable icon - Symbols  */
#rotateIcon {
  transition: transform 0.6s cubic-bezier(0.34, 1.56, 0.64, 1);
}
/* Spin animation */
.spin {
  animation: spin 0.6s ease-in-out forwards;
}
/* Keyframes for spin and rebound effect */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(360deg) scale(1.05);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
} /* CSS for the revolve and change color animations */
.revolve {
  animation: revolve 0.3s ease-in-out; /* Duration of revolve*/ /* change color here */
} /* Keyframes for revolving and changing color */
@keyframes revolve {
  0% {
    transform: rotateY(0deg);
    font-weight: normal;
    color: #b8b8b8; /* Original color */
  }
  50% {
    transform: rotateY(90deg);
    font-weight: bold;
    color: #3b82f6; /* Color during animation (e.g., red) */
  }
  100% {
    transform: rotateY(180deg);
    font-weight: normal;
    color: #b8b8b8; /* Revert to original color */
  }
}
/* MARK: Alpine like transition fade in and fade out when x-show isnt applicable */
/* Fade-In: Hidden to Visible */
.fade-in-hidden {
  opacity: 0;
  transform: scale(0.9);
  transition:
    opacity 0.5s,
    transform 0.5s;
}
.fade-in-visible {
  opacity: 1;
  transform: scale(1);
  transition:
    opacity 0.5s,
    transform 0.5s;
}
/* Fade-Out: Visible to Hidden */
.fade-out-visible {
  opacity: 1;
  transform: scale(1);
  transition:
    opacity 0.3s,
    transform 0.3s;
}
.fade-out-hidden {
  opacity: 0;
  transform: scale(0.9);
  transition:
    opacity 0.3s,
    transform 0.3s;
}
/* MARK: Table styles - borders */
.round-left-border {
  border-top-left-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
}
.round-right-border {
  border-top-right-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
}
.border-hover-ring-efect {
  @apply cursor-default rounded-md transition duration-100 hover:shadow-lg hover:ring-1 hover:ring-vls2;
  @apply dark:hover:ring-vda;
}
/* MARK:TABLE INPUTS */
.table-edit-input-style {
  @apply w-full rounded border border-transparent bg-vlp2/70 px-1 py-0.5 text-vls2/60 transition duration-100;
  @apply hover:border-vls2 hover:bg-vlp hover:text-vls2;
  @apply focus:border-vls2 focus:bg-vlp focus:text-vls2 focus:outline-none;
  @apply dark:bg-vdp;
  @apply dark:hover:border-vda dark:hover:bg-vdp2 dark:hover:text-vda;
  @apply dark:focus:border-vda dark:focus:text-vda;
}
.table-interaction-icon-blue {
  @apply rounded-full p-1.5 text-vls2 transition duration-100;
  @apply hover:bg-vlp2/60 hover:text-vla;
  @apply dark:text-vds;
  @apply dark:hover:text-blue-500;
}
.table-interaction-icon-red {
  @apply rounded-full p-1.5 text-vls2 transition duration-100;
  @apply hover:bg-vlp2/60 hover:text-vda2;
  @apply dark:text-vds;
  @apply dark:hover:text-vda2;
}
/* MARK: Glow Effect */
@keyframes glowEffect {
  0% {
    box-shadow: 0 0 5px 5px rgba(254, 127, 118, 0) inset; /* Start with no glow */
    border-radius: 0.375rem;
  }
  20% {
    box-shadow: 0 0 5px 5px rgb(254, 127, 118) inset; /* Glow peaks here */
    border-radius: 0.375rem;
  }
  50% {
    box-shadow: 0 0 5px 5px rgba(254, 127, 118, 0.763) inset; /* Intense glow */
    border-radius: 0.375rem;
  }
  80% {
    box-shadow: 0 0 5px 5px rgba(254, 127, 118, 0.514) inset; /* Start to fade */
    border-radius: 0.375rem;
  }
  100% {
    box-shadow: 0 0 5px 5px rgba(254, 127, 118, 0) et; /* End with no glow */
    border-radius: 0.375rem;
  }
}
@keyframes glowEffectDark {
  0% {
    box-shadow: 0 0 5px 5px rgba(254, 127, 118, 0) inset; /* Start with no glow */
    border-radius: 0.375rem;
  }
  20% {
    box-shadow: 0 0 5px 5px rgb(254, 127, 118) inset; /* Glow peaks here */
    border-radius: 0.375rem;
  }
  50% {
    box-shadow: 0 0 5px 5px rgba(254, 127, 118, 0.763) inset; /* Intense glow */
    border-radius: 0.375rem;
  }
  80% {
    box-shadow: 0 0 5px 5px rgba(254, 127, 118, 0.514) inset; /* Start to fade */
    border-radius: 0.375rem;
  }
  100% {
    box-shadow: 0 0 5px 5px rgba(254, 127, 118, 0) et; /* End with no glow */
    border-radius: 0.375rem;
  }
}
/* Apply the animation for the glow effect */
.add-item-glow {
  animation: glowEffect 500ms ease-out;
}
.add-item-glow-dark {
  animation: glowEffectDark 500ms ease-out;
}
.terminator {
  padding: 0 !important;
}

/* MARK: Tab Buttons */
.tab-button {
  @apply transform rounded-md text-vls2 transition-all duration-300 ease-in-out;
  @apply hover:bg-vlp2 hover:text-vls3;
  @apply active:scale-90;
}
.tab-button-active {
  @apply flex rounded-md bg-vls2 text-vla;
  @apply hover:bg-vls2 hover:text-vla;
}
.butt-style {
  @apply flex items-center rounded-md border border-transparent bg-vls2 p-2 text-sm font-medium text-vlp duration-500;
  @apply hover:border-vla hover:bg-vls3 hover:text-vla active:scale-95;
}
/* Dark tab buttons */
.dark .tab-button {
  @apply my-4 flex flex-row items-baseline text-lg font-bold text-vds3light transition duration-300 hover:text-vls;
}
.dark .tab-button-active {
  @apply text-vls !underline decoration-vda !decoration-2;
}
.dark .butt-style {
  @apply flex items-center rounded-md border border-transparent bg-vdp p-2 text-sm font-medium text-vds duration-500;
  @apply hover:border-vda hover:text-vda active:scale-95;
}

/* MARK:Search Input*/
.srch-style {
  @apply flex rounded-md border border-transparent bg-vls2 p-2 text-sm font-medium text-vlp2 transition duration-500 placeholder:text-vlp2;
  @apply hover:border-vla hover:bg-vls3 hover:text-vlp;
  @apply focus:border-vla focus:bg-vls3 focus:text-vlp focus:outline-none;
}
.dark .srch-style {
  @apply border-transparent bg-vdp p-2 text-sm font-medium text-vds transition duration-500 placeholder:text-vds;
  @apply hover:border-vda hover:text-vda hover:placeholder:text-vda;
  @apply focus:border-vda focus:text-vda focus:outline-none;
}

/* MARK: MODALS */
.modal-input-style {
  @apply rounded-md bg-vlp3 p-2 text-vlp placeholder-vlp ring-1 ring-transparent transition duration-500;
  @apply hover:bg-vls;
  @apply focus:bg-vls focus:outline-none focus:ring-vla;
}
.dark .modal-input-style {
  @apply rounded-md bg-vdp3 p-2 text-vds placeholder-vds3light ring-1 ring-transparent transition duration-500 focus:placeholder-vls;
  @apply hover:bg-vds2 hover:text-vds;
  @apply focus:bg-vds2 focus:text-vds focus:outline-none focus:ring-vds;
}
.outter-modal-overlay-blur-fixed {
  @apply fixed inset-0 h-full w-full overflow-y-auto bg-gray-800 bg-opacity-50 backdrop-blur-sm;
}
.dark .modal-title {
  @apply text-2xl font-medium tracking-tighter text-vds;
}

.dark .modal-button {
  @apply rounded-md border border-vds3light px-2 py-1 text-base text-vds3light decoration-transparent underline-offset-2 duration-500 hover:border-vda hover:text-vls hover:decoration-vda active:scale-95 active:border-vda;
}
.inner-modal-size-positioning-relative {
  @apply relative top-1/4 mx-auto w-96 text-center;
}
.modal-bg-and-borders {
  @apply rounded-md border border-vlp2 bg-vlp text-vls shadow-lg;
}
.dark .modal-bg-and-borders {
  @apply rounded-md border border-vds2 bg-vdp shadow-lg;
}

/* MARK: BORDER CLIPPER for adjusting table body overflowing the header*/
.border-clipper {
  --border-clipper: #fbf3f3;
  box-shadow: 0 -4px 0 0 var(--border-clipper);
}
.dark .border-clipper {
  --border-clipper: #27272a;
}
/* MARK: Inputs */
input[type='radio'] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 0.6rem; /* Size of the radio button */
  height: 0.6rem;

  background-color: #d4d4d400;
  border-radius: 50%;

  outline: solid 2px #d4d4d4;
  outline-offset: 4px;

  cursor: pointer;
  transition:
    outline-offset 150ms,
    background 200ms,
    border-color 200ms;
}
input[type='radio']:focus {
  background-color: #777777;
  outline-color: #777777;
}
input[type='radio']:checked {
  outline: solid 2px #fea09a;
  outline-offset: 2px;
  background-color: #fea09a; /* Background color when checked */
}
