<div x-data="themeToggler">
  <button @click="toggleTheme()" title="Toggle theme" class="flex h-full w-full items-center justify-center">
    <template x-if="mode === 'light'">
      <!-- Light Mode Icon -->
      <div class="tab-button p-2" x-html="$store.svgCache.getSvgContent('moon.svg')"></div>
    </template>
    <template x-if="mode === 'dark'">
      <!-- Dark Mode Icon -->
      <div class="tab-button p-2" x-html="$store.svgCache.getSvgContent('sun.svg')"></div>
    </template>
  </button>
</div>
